<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
	<title>Y.Cappuccino Simple Form </title>
	<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/default.css">


  	<!--  js  -->
  	<script src="./angularjs/angular.js"></script>
	<script src="./angularjs/angular-resource.min.js"></script>

    <script src="./jquery/jquery.min.js"></script>


  	<script src="./module/restapi/restapi.module.js"></script>
	<script src="./module/restapi/restapi.service.js.mdl"></script>
	<script src="./module/main/main-app.js"></script>
	<script src="./module/main/main-controller.js"></script>

</head>
<body ng-app="mainApp" ng-controller="mainCtrl">
	<div ng-hide="loginOk">

		Login <input id="login" type="text" ng-model="login" ></input></br>
		Password <input id="pass"  type="password" ng-model="password" ></input></br>
		<button ng-click="auth()">login</button>
	</div>
	<div ng-hide="!loginOk">
		Connected
	</div>
	<div>
	 	<nav class="cadre"  ng-hide="!loginOk">
			<ul >
  				<li  ng-repeat="item in items"><a class="active"  ng-click="list(item)">{{item}}</a></li>
			</ul>
        </nav>
	</div>
	<div id="formItemCreate" >
		<button  ng-hide="!listTarget" ng-click="create()">create</button>

	</div>
	<div id="formItemList" ng-hide='!listTarget' class="pull-right">
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col"></th>
					<th scope="col" ng-repeat="w_item in fields">{{w_item}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="w_model in list_model">
					<th scope="row">{{list_model.indexOf(w_model)+1}}</th>
					<td ng-repeat="w_key in fields" ng-if="w_key == 'id'" ng-click="read(w_model[w_key])" ><a href="#item={{item_choose}}&target=read&id={{w_model['id']}}">{{w_model['id']}}</a></td>
					<td ng-repeat="w_key in fields" ng-if="w_key != 'id'"  >{{w_model[w_key]}}</td>
					<td><button  ng-click="remove(w_model[w_key])">delete</button></td>

				</tr>
			</tbody>
		</table>
	</div>
	<div id="formItemUpdate" >
		<button  ng-hide="!detailTarget" ng-click="update()">update</button>

	</div>

	<div id="htmlForm" ng-hide="!detailTarget" class="form-group row ">

	</div>
	<footer class="container-fluid">
		YCappuccino Simple Form - © Copyright 2018-2022 - powered by Y.Cappuccino Platform
	</footer>
</body>
</html>